:root {
  --primary: #00a575;
  --secondary: #f6f6f6;
  --whote: #ffffff;
}

@font-face {
  font-family: "PepeFont";
  font-style: 300;
  font-weight: 300;
  src: url("../fonts/pepe-Regular.woff2") format("woff2"),
    url("../fonts/pepe-Regular.woff") format("woff");
}

@keyframes logo {
  0% {
    stroke-dashoffset: 1952;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }

  50% {
    stroke-dashoffset: 0;
  }

  95% {
    opacity: 1;
  }
  100% {
    stroke-dashoffset: -1952;
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  color: var(--secondary);
  background-color: var(--primary);
  background-image: url("../img/coins_mobile.webp");
  background-repeat: no-repeat;
  background-size: 550px;
  background-position: top 80% right -190px;
  font-family: "PepeFont", sans-serif;
  overflow: scroll;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  display: flex;
}

.game {
  display: none;
}

.game-opened {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.game-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.game-container {
  max-width: 500px;
  max-height: 525px;
  width: 100%;
  height: 100%;
}

.game-btn {
  position: absolute;
  right: 0;
  bottom: 20%;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.game-btn:hover {
  box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.5);
}

.union {
  margin-left: 25px;
  padding: 50px 0 0 0;
  display: grid;
  row-gap: 10px;
  justify-items: center;
  width: 100%;
}

.union__title {
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 25px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 2px;
  transform: rotate(-90deg) translateX(-50%) translateY(-100px);
}

.union__logo {
  max-width: 150px;
  display: grid;
  row-gap: 10px;
}

.union__logo-img {
  width: 150px;
  height: 150px;
}

.union__logo-img path {
  opacity: 1;
  stroke-dasharray: 1952;
  animation: logo 5s ease-in-out 1s infinite;
}

.union__logo-text {
  position: relative;
  display: grid;
  font-weight: 300;
  letter-spacing: 2px;
}

.union__logo-text-main {
  margin-bottom: 60px;
  font-size: 62px;
  line-height: 62px;
}
.union__logo-text-sub {
  position: absolute;
  top: 52px;
  right: -42px;
  font-size: 30px;
  line-height: 60px;
  font-weight: 300;
  letter-spacing: 2px;
}

.footer {
  margin-bottom: 40px;
}

.socials__list {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  column-gap: 20px;
  justify-content: center;
}

.socials__list-item-link {
  display: block;
  height: 40px;
  width: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-matrix {
  background-image: url("../img/matrix-icon.svg");
}
.icon-medium {
  background-image: url("../img/medium-icon.svg");
}
.icon-twitter {
  background-image: url("../img/twitter-icon.svg");
}
.icon-telegram {
  background-image: url("../img/telegram-icon.svg");
}
.icon-github {
  background-image: url("../img/github-icon.svg");
}

@media (min-width: 320px) and (max-height: 667px) {
  body {
    background-size: 550px;
    background-position: top 80% right -300px;
  }
}

@media (min-width: 320px) and (max-height: 600px) {
  body {
    background-image: none;
  }
}

@media (min-width: 500px) {
  body {
    background-size: 900px;
    background-position: top 73% right -300px;
  }

  .union {
    margin-left: 25px;
    padding: 72px 0 0 0;
  }

  .union__logo {
    max-width: 190px;
    row-gap: 12px;
  }

  .union__title {
    top: 50px;
    left: 70px;
    font-size: 33px;
    line-height: 33px;
    transform: rotate(-90deg) translateX(-50%) translateY(-150px);
  }

  .union__logo-img {
    width: 190px;
    height: 190px;
  }

  .union__logo-text-main {
    font-size: 78px;
    line-height: 78px;
  }
  .union__logo-text-sub {
    top: 71px;
    right: -54px;
    font-size: 40px;
  }

  .socials__list {
    column-gap: 20px;
  }

  .socials__list-item-link {
    height: 40px;
    width: 40px;
  }
}

@media (min-width: 500px) and (max-height: 1150px) {
  body {
    background-position: top 80% right -300px;
  }
}
@media (min-width: 500px) and (max-height: 970px) {
  body {
    background-size: 750px;
    background-position: top 80% right -250px;
  }
}
@media (min-width: 500px) and (max-height: 970px) {
  body {
    background-size: 650px;
    background-position: top 80% right -300px;
  }
}
@media (min-width: 500px) and (max-height: 830px) {
  body {
    background-image: none;
  }
}

@media (min-width: 627px) {
  body {
    background-size: 900px;
    background-position: top 72% right -200px;
  }

  .union {
    margin-left: 22px;
    padding: 90px 0 0 0;
  }

  .union__logo {
    max-width: 230px;
    row-gap: 10px;
  }

  .union__title {
    top: 70px;
    left: 90px;
    font-size: 39px;
    line-height: 39px;
    transform: rotate(-90deg) translateX(-50%) translateY(-170px);
  }

  .union__logo-img {
    width: 230px;
    height: 230px;
  }

  .union__logo-text-main {
    font-size: 98px;
    line-height: 98px;
  }
  .union__logo-text-sub {
    top: 90px;
    right: -61px;
    font-size: 48px;
  }
}

@media (min-width: 627px) and (max-height: 1150px) {
  body {
    background-size: 750px;
    background-position: top 78% right -80px;
  }
}
@media (min-width: 627px) and (max-height: 1000px) {
  body {
    background-position: top 82% right -320px;
  }
}
@media (min-width: 627px) and (max-height: 875px) {
  body {
    background-position: top 95% right -400px;
  }
}

@media (min-width: 627px) and (max-height: 815px) {
  body {
    background-image: none;
  }
}

@media (min-width: 768px) {
  body {
    background-position: top 80% right -120px;
  }

  .union {
    margin-left: 0px;
  }

  .union__logo {
    max-width: 280px;
  }

  .socials__list {
    column-gap: 20px;
  }

  .socials__list-item-link {
    height: 40px;
    width: 40px;
  }
}

@media (min-width: 768px) and (max-height: 980px) {
  body {
    background-position: top 80% right -200px;
  }
}

@media (min-width: 768px) and (max-height: 930px) {
  body {
    background-position: top 85% right -260px;
  }
}

@media (min-width: 768px) and (max-height: 890px) {
  body {
    background-position: top 85% right -320px;
  }
}

@media (min-width: 768px) and (max-height: 845px) {
  body {
    background-size: 620px;
    background-position: top 85% right -300px;
  }
}

@media (min-width: 955px) {
  body {
    background-image: url("../img/coins.webp");
    background-size: 750px;
    background-position: top 80% right -242px;
  }

  .union {
    padding: 60px 0 0 0;
  }

  .union__title {
    top: 40px;
    left: 80px;
  }

  .union__logo-img {
    width: 230px;
    height: 230px;
  }

  .union__logo-text-main {
    font-size: 98px;
    line-height: 98px;
  }
  .union__logo-text-sub {
    top: 90px;
    right: -61px;
    font-size: 48px;
  }

  .footer {
    margin-bottom: 60px;
  }
}

@media (min-width: 955px) and (max-height: 830px) {
  body {
    background-position: top 85% right -310px;
  }
}

@media (min-width: 955px) and (min-height: 900px) {
  body {
    background-size: 750px;
    background-position: top 80% right -120px;
  }
}

@media (min-width: 955px) and (min-height: 993px) {
  body {
    background-size: 800px;
    background-position: top 80% right -120px;
  }

  .union {
    padding: 80px 0 0 0;
  }

  .union__title {
    top: 60px;
    left: 80px;
  }

  .footer {
    margin-bottom: 80px;
  }
}

@media (min-width: 1289px) {
  body {
    background-size: 50%;
    background-position: top 80% right -15%;
  }

  .union__title {
    font-size: 47px;
    line-height: 47px;
  }

  .union__logo {
    display: grid;
    row-gap: 5px;
  }

  .union__logo-img {
    width: 280px;
    height: 280px;
  }

  .union__logo-text {
    font-weight: 300;
  }

  .union__logo-text-main {
    font-size: 120px;
    line-height: 120px;
    margin-bottom: 85px;
  }
  .union__logo-text-sub {
    top: 115px;
    right: -78px;
    font-size: 60px;
    line-height: 60px;
  }

  .socials__list {
    column-gap: 25px;
  }

  .socials__list-item-link {
    height: 50px;
    width: 50px;
  }
}
